<div style="text-align:center">
  <h1>
    Bem-vindo {{ title }}!
  </h1>
</div>

<component-manual></component-manual>
<app-meu-component-auto></app-meu-component-auto>
<app-operador-elvis></app-operador-elvis>
<app-ng-if-ng-else></app-ng-if-ng-else>
<app-ng-switch></app-ng-switch>
<app-ng-for></app-ng-for>
<app-data-binding></app-data-binding>
<app-property-binding></app-property-binding>
<app-event-binding></app-event-binding>
<app-toway-data-binding-manual></app-toway-data-binding-manual>
<app-toway-data-binding-auto></app-toway-data-binding-auto>
<app-class-binding></app-class-binding>
<app-style-binding></app-style-binding>
<app-services></app-services>
<app-requisicoes-http></app-requisicoes-http>
