<aside id="sidebar" class="border sidebar">
    <div class="content-nav">
        <nav>
            <ul>
                <li class="active"><a href="#"><i class="icon-chart-pie-outline"></i></a></li>
                <li><a href="#"><i class="icon-flask"></i></a></li>
                <li><a href="#"><i class="icon-stethoscope"></i></a></li>
                <li><a href="#"><i class="icon-stopwatch"></i></a></li>
                <li><a href="#"><i class="icon-coffee"></i></a></li>
                <li><a href="#"><i class="icon-cog-outline"></i></a></li>
            </ul>
        </nav>
    </div>
    <div class="box-logount">
        <a href="#"><i class="icon-logout"></i></a>
    </div>
</aside>